# Data files
*.xlsx
*.xls
*.csv
data/*.db

# Python
backend/venv/
__pycache__/
*.pyc
*.pyo

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
*.local
